@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Raleway", sans-serif;
}

header {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    .logo {
        width: 116px;
    }
}

body {
    padding-top: 83px;
}

button {
    &.primary {
        @apply flex justify-center items-center py-4 px-8 text-white space-x-2;
        background: linear-gradient(180deg, #F98F3D 0%, #D76C19 100%);
        border-radius: 5px;

        * {
            @apply text-white font-medium;
        }
    }
}

nav {
    @apply space-x-6;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    a {
        &.active {
            font-weight: 500;
            background: linear-gradient(180deg, #F98F3D 0%, #D76C19 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }
}

footer {
    background: linear-gradient(180deg, #F98F3D 0%, #D76C19 100%);
}

#top-picker {
    .form-group {
        @apply bg-[#F6F7F9] px-4 py-2 space-y-1 rounded-lg;

        .label {
            @apply font-bold text-[#696969];
        }

        input {
            @apply border-none outline-none focus:outline-none bg-transparent p-0;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
        }

    }
}

.highlighted-text {
    background: linear-gradient(180deg, #F98F3D 0%, #D76C19 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.primary-bg,
.active-tab-btn {
    @apply  !text-white;
    background: linear-gradient(180deg, #F98F3D 0%, #D76C19 100%) !important;
    border-radius: 10px 0px 0px 10px;
}

.slider-desc {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 5px;
}

[data-accordion-icon] {
    @apply -rotate-90 bg-[#FBFAFF];
}